/*General*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

article,
header,
section,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

body {
  background: white none repeat scroll 0 0;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.main {
  font-size: 15px;
  padding: 50px;
}

section {
  float: left;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  height: auto;
  color: black;
  text-align: center;
  font-size: 25px;
}

.brand {
  background-color: black;
}

/*Navitagion Menu*/
ul.b {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.b li {
  float: left;
}

.b li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.b li a:hover {
  background-color: #111;
}

.active {
  background-color: #e60000;
}

/*Section*/
h2 {
  color: #1a0e0e;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
  text-transform: none;
}

h2 span {
  display: block;
  padding: 0;
  font-size: 18px;
  opacity: 0.7;
  margin-top: 5px;
  text-transform: none;
}

#float-right {
  float: right;
}

.ScriptHeader {
  float: left;
  width: 100%;
  padding-top: 2em;
}

.rt-heading {
  border-bottom: solid 4px #6a4aed;
  padding-bottom: 10px;
}

.ScriptHeader h1 {
  color: black;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
  text-align: center;
}

.ScriptHeader h2 {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin: 5px 0 0;
  line-height: normal;
  text-transform: uppercase;
}

.ScriptHeader h1 span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;
}

.ScriptHeader span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;
}

.rt-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.rt-row:before,
.rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}

[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}

/*imagestyle*/

.image-list-small {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
  max-width: 1170px;
  padding: 0;
}

.image-list-small li {
  padding: 50px;
  display: inline-block;
  width: 500px;
  height: 100px;
  margin: 0 25px 30px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*footer*/
.footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  clear: both;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: right;
}

/*polaroid style*/
div.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

div.polaroid:hover {
  opacity: 0.4;
}

.container {
  text-align: center;
  padding: 10px 20px;
}

li a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.col-rt-12 {
  padding-bottom: 40px;
}

div.polaroid img {
  width: 100%;
  height: auto;
}

/*Responsive*/
@media (min-width: 768px) {
  .rt-container {
    width: 750px;
  }
  [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
  }
  .col-rt-6,
  .col-rt-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .rt-container {
    width: 1170px;
  }
  .col-rt-1 {
    width: 16.6%;
  }
  .col-rt-2 {
    width: 30.33%;
  }
  .col-rt-3 {
    width: 50%;
  }
  .col-rt-4 {
    width: 67.664%;
  }
  .col-rt-5 {
    width: 83.33%;
  }
}

@media only screen and (min-width: 240px) and (max-width: 768px) {
  .ScriptTop h1,
  .ScriptTop ul {
    text-align: center;
  }
  .ScriptTop h1 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .ScriptTop ul {
    margin-top: 12px;
  }

  .ScriptHeader h1,
  .ScriptHeader h2,
  .scriptnav ul {
    text-align: center;
  }
  .scriptnav ul {
    margin-top: 12px;
  }
  #float-right {
    float: none;
  }
}
